#body {
    padding:0;
    margin:0;
    font-family: Arial;
    font-size: 20px;
}
	/* Navigation Bar */
#nav {
    background-color:#222;
	
}
#nav_wrapper {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    min-width: 200px;
}
#nav ul li {
    display: inline-block;
}
#nav ul li:hover {
    background-color: #333;
}
#nav ul li a, visited {
    color: #CCC;
    display: block;
    padding: 15px;
    text-decoration: none;
}
#nav ul li:hover ul {
    display: block;
}
#nav ul ul {
    display: none;
    position: absolute;
    background-color: #333;
    border: 5px solid #222;
    border-top: 0;
    margin-left: -5px;
}
#nav ul ul li {
    display: block;
}
#nav ul ul li a:hover {
    color: #699;
}
/* Navigation Bar End */
#centerwrapper{
	width:1565px;
	height:800px;
	background-color:grey;
	position:relative;
	float:right;
	z-index:-3;
}

#phones{
width:1134px;
height:150px;
background-color:blue;
margin: 0 auto;
}
#one{
width:126px;
height:150px;
background-color:green;
float:left;
} 
.one:hover {
-moz-box-shadow: 0 0 10px #ccc;
-webkit-box-shadow: 0 0 10px #ccc;
 box-shadow: 0 0 10px #ccc;
}

#two{
width:126px;
height:150px;
background-color:yellow;
float:left;
}
#three{
width:126px;
height:150px;
background-color:green;
float:left;
}
#four{
width:126px;
height:150px;
background-color:green;
float:left;
}
#five{
width:126px;
height:150px;
background-color:green;
float:left;
}
#six{
width:126px;
height:150px;
background-color:green;
float:left;
}
#seven{
width:126px;
height:150px;
background-color:green;
float:left;
}
#eight{
width:126px;
height:150px;
background-color:green;
float:left;
}
#nine{
width:126px;
height:150px;
background-color:green;
float:left;
}
#aboutus{
width:100px;
height:30px;
margin:0 auto;
background-color:white;
border-radius:10px;
}
#imageandtext{
width:650px;
height:300px;
margin-left:50px;
background-color:white;
margin: 0 auto;
}
#image{
width:300px;
height:260px;
float:left;
}
#text{
width:300px;
height:250px;
float:left;
margin-left:20px;
}
#unlocking{
width:100%;
height:450px;
background-color:#66CCFF;
border:2px solid;
}
#one1{
width:120px;
height:250px;
background-color:white;
margin-left:60px;
margin-bottom:40px;
}
#one1.container{
width:120px;
height:160px;
margin-left:50px;
}
#two2{
width:150px;
height:250px;
margin-top:-287px;
margin-left:350px;
background-color:white;
}
#two2.container{
width:150px;
height:180px;
margin-left:40px;
position:absolute;
}
#three3{
height:250px;
width:200px;
background-color:white;
margin-left:700px;
margin-top:-250px;
}
#three.container{
width:180px;
height:200px;
margin-top:0px;
margin-left:0px;
}
#form{
width:200px;
height:300px;
float:right;
margin-top:-250px;
}
